body {
    background-color: #7D4F50;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #F9EAE1;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}